.movie-card {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.movie-card:hover {
    transform: scale(1.1);
}

.movie-card-poster {
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
}

.movie-card-title {
    font-size: 2.2vh;
}