.footer {
    width: 100%;
    height: 25vh;
    background-color: rgb(18, 18, 58);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-heart {
    color: #3FE0C5;
    margin: 0 0.5vw;
    font-size: 25px;
}